<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {{ partial "favicon.html" }}

  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}posts/index.xml" />

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {{ partial "twitter_graph.html" . }}

  <!-- Webmentions.io -->
  <link rel="webmention" href="https://webmention.io/duffy.xyz/webmention" />
  <link rel="pingback" href="https://webmention.io/duffy.xyz/xmlrpc" />

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/fslightbox.min.css">

  {{ $styleCSS := resources.Get "css/styles.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styleCSS.Permalink }}">

  <title>
    {{ block "title" . }}
      {{ .Title }} &ndash; {{ .Site.Title }}
    {{ end }}
  </title>
</head>

<body>

  <div class="h-card" style="display: none;">
    <a class="p-name u-url" rel="me" href="{{ .Site.BaseURL }}">James Duffy</a>
    <img class="u-photo" src="https://duffy.xyz/img/content/about/self-3-small.png" />
    <a rel="me" target="_blank" href="mailto:james@duffy.xyz" class="u-email"></a>
    <p class="p-note">I am Duffy! I am a Lead DevOps Engineer living in <span class="p-locality">San Francisco</span>. I automate infrastructure and make software deployments seamless. I also enjoy photography.</p>
  </div>

  <div class="container">
    <header class="site-header">
      <h1><a href="{{ .Site.BaseURL }}">James Duffy</a></h1>

      {{ $current := . }}
      <div class="nav">
        <ul>
          {{ range .Site.Menus.main }}
            {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            {{ $active = or $active (and (eq .Name "Photography") (eq $current.Section "photography")) }}
            {{ $active = or $active (and (eq .Name "Journal") (eq $current.Section "journal")) }}
            {{ $active = or $active (and (eq .Name "Ham Radio") (eq $current.Section "radio")) }}
            <li><a href="{{.URL}}" class="{{ if $active }}active{{ end }}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
            {{ end }}
        </ul>

        <form>
            <select class="card" onchange="window.location.assign(this.options[this.selectedIndex].value)">
                <option value="">Go to page...</option>
                {{ range .Site.Menus.main }}
                <option value="{{.URL}}">{{ .Name }}</option>
                {{ end }}
            </select>
        </form>
      </div>
    </header>

    <main class="card">
    {{ block "main" . }}{{ end }}
    </main>

    <footer id="site-footer">
      <div class="nav">
        <ul>
          {{ range .Site.Menus.main }}
            <li><a href="{{.URL}}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
            {{ end }}
        </ul>
      </div>

      <p>I am <span class="text-mono"><a rel="me" target="_blank" href="https://twitter.com/duffy0">@duffy0</a></span>! I am a Lead DevOps Engineer living in San Francisco. I automate infrastructure and make software deployments seamless. I also enjoy photography.</p>

      <p class="text-center">Copyright &copy; James Duffy</p>

      <ul class="text-center social-links">
        <li><a rel="me" target="_blank" href="https://twitter.com/duffy0"><img src="/img/twitter.svg"></a></li>
        <li><a rel="me" target="_blank" href="https://www.flickr.com/people/dffy/"><img src="/img/flickr.svg"></a></li>
        <li><a rel="me" target="_blank" href="https://www.instagram.com/duffy0/"><img src="/img/instagram.svg"></a></li>
        <li><a rel="me" target="_blank" href="https://github.com/jamesduffy/"><img src="/img/github.svg"></a></li>
        <li><a rel="me" target="_blank" href="https://keybase.io/dffy"><img src="/img/keybase.svg"></a></li>
        <li><a rel="me" target="_blank" href="{{ .Site.BaseURL }}posts/index.xml"><img src="/img/rss.svg"></a></li>
      </ul>

      <p class="text-center text-mono"><a href="/changelog">changelog</a></p>
    </footer>

  </div>

{{ partial "google_analytics.html" . }}

</body>
</html>
