{{ define "main" }}
<article>
    {{ if .Params.image }}
    <img src="https://duffy.xyz/{{ .File.Dir }}{{ .Params.image }}" class="featured-image" />
    {{ end }}

    <header>
        {{ if not .Params.hide_title }}
            <h1 class="page-title">{{ .Title }}</h1>
        {{ end }}

        {{ if not .Params.hide_date }}
        <date>{{ .PublishDate.Format "January 2, 2006" }}</date>
        {{ end }}
    </header>

    {{ if .Params.toc }}
        {{ partial "table_of_contents.html" . }}
    {{ end }}

    <main>{{ .Content }}</main>

    {{ partial "page_list.html" . }}

</article>
{{ end }}
