{{ define "main" }}
<article>
    <header>
        {{ if not .Params.hide_title }}
            <h1 class="page-title">{{ .Title }}</h1>
        {{ end }}

        {{ if not .Params.hide_date }}
        <date>{{ .PublishDate.Format "January 2, 2006" }}</date>
        {{ end }}
    </header>

    <main>{{ .Content }}</main>
</article>

<h2>Recent Posts</h2>
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" (slice "posts" )) 5 }}
{{ range $paginator.Pages }}
    {{ partial "posts/list_item.html" . }}
{{ end }}

{{ end }}
