{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.snippet }}" />

    {% if page.featured_image %}
        <meta property="og:image" content="https://duffy.xyz/static/images/pages/{{ page.featured_image }}" />
    {% endif %}
{% endblock %}

{% block content %}
<article>
    <h2>{{ page.title }}</h2>
    <section>
        {{ page.html | safe }}
    </section>
</article>
{% endblock %}
