<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {{ partial "meta.html" . }}
  {{ partial "css.html" . }}

  <script src="https://use.fontawesome.com/41c514c134.js"></script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

  <title>
    {{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}
  </title>
</head>

<body>
  {{ partial "header.html" . }}

  {{ block "main" . }}{{ end }}

  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}
</body>
</html>
