<footer class="text-center container grid-lg">
    <div class="columns">
        <div class="column col-7 col-sm-12 col-mx-auto">
            <p>Hey, I'm <a rel="nofollow" target="_blank" href="https://twitter.com/duffy0">@duffy0</a>! I am a Software Engineer living in San Francisco. I automate infrastructure and make software deployments seamless. I enjoy photography. <a href="/about">Learn more</a>.</p>

            <ul class="social-links">
                <li>
                    <a rel="nofollow" target="_blank" href="https://twitter.com/duffy0">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a rel="nofollow" target="_blank" href="https://instagram.com/duffy0">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>

                <li>
                    <a rel="nofollow" target="_blank" href="https://flickr.com/photos/dffy/">
                        <i class="fa fa-flickr"></i>
                    </a>
                </li>

                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/jamesduffy">
                        <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <p class="text-small text-gray">&copy; James Duffy</p>
            <p class="text-small text-gray"><a href="/changelog">{{ .Site.LastChange }}</a></p>
        </div>
    </div>
</footer>
