<div class="divider"></div>

<ul class="pagination">
  {{ if .PrevInSection }}
  <li class="page-item page-prev">
    <a href="{{ .PrevInSection.Permalink }}">
      <div class="page-item-subtitle">Previous</div>
      <div class="page-item-title h5">{{ .PrevInSection.Title }}</div>
    </a>
  </li>
  {{ end }}

  {{ if .NextInSection }}
  <li class="page-item page-next">
    <a href="{{ .NextInSection.Permalink }}">
      <div class="page-item-subtitle">Next</div>
      <div class="page-item-title h5">{{ .NextInSection.Title }}</div>
    </a>
  </li>
  {{ end }}
</ul>
