{% extends "pages/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:description" content="{{ post.snippet }}" />

    {% if post.featured_image %}
        <meta property="og:image" content="https://duffy.xyz/static/images/posts/{{ post.featured_image }}" />
    {% endif %}
{% endblock %}

{% block content %}
<article>
    {% if post.featured_image %}
        <img class="featured-image" src="/static/images/posts/{{ post.featured_image }}" />
    {% endif %}
    <header>
        <h1>{{ post.title }}</h1>
        <p class="text-muted text-center">Published on {{ post.date.strftime('%-d %B %Y') }}<p>
    </header>
    <section>
        {{ post.html | safe }}
    </section>
</article>
{% endblock %}
