{{ define "main" }}
<article>
    <header>
        <h1 class="page-title">{{ .Title }}</h1>

        {{ if not .Params.hide_date }}
        <date>{{ .PublishDate.Format "January 2, 2006" }}</date>
        {{ end }}
    </header>

    <section>{{ .Content }}</section>

</article>

<div id="macy-container">
{{ $images := .Page.Resources.ByType "image" }}
{{ range $images }}
    {{ $image := .Resize "1280x q90" }}
    <a data-fslightbox="gallery" href="{{ $image.Permalink }}">
        <img src="{{ $image.Permalink }}">
    </a>
{{ end }}
</div>


{{ $macy := resources.Get "js/macy.js" | fingerprint }}
{{ $fslightbox := resources.Get "js/fslightbox.js" | fingerprint }}
<script type="text/javascript" src="{{ $macy.RelPermalink }}"></script>
<script type="text/javascript" src="{{ $fslightbox.RelPermalink }}"></script>
<script type="text/javascript">
  var macy = Macy({
    container: '#macy-container',
    trueOrder: false,
    waitForImages: false,
    margin: 24,
    columns: 3,
    breakAt: {
      1200: 3,
      940: 2,
      400: 1
    }
  });
</script>
{{ end }}
